/* CATEGORIES */

.logo {
  max-width: 10em;
}

nav {
  display: grid;
  grid-template-columns: 108px 1fr;
  width: 100%;
}

nav a {
  text-decoration: none;
  color: black;
  font-family: "termina", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  text-decoration: none;
}

a:hover {
  color: hsl(348, 58%, 42%);
}

nav ul {
  text-align: center;
  list-style: none;
  padding: 0;
  margin-top: 5em;
}

.breadcrumb {
  list-style: none;
}

.breadcrumb-item {
  display: inline;
  font-size: 18px;
}

.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: ">>";
}

.breadcrumb-item a {
  color: #2e4053;
  text-decoration: none;
}

.breadcrumb-item a:hover {
  color: red;
}
