/* CATEGORIES */

body {
  background-color: #eaeaea;
}

.line {
  height: 1.5px;
  width: 1300px;
  margin: auto;
  background-color: #910303;
}

h1 {
  text-align: center;
  font-family: "termina", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #910303;
  font-size: 70px;
}

nav a {
  text-decoration: none;
  color: black;
  font-family: termina;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
}

a:hover {
  color: hsl(0, 78%, 27%);
}

nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  list-style: none;
  padding: 1.5em;
}

.category_list {
  display: flex;
  flex-wrap: wrap;

  /*  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr); */
  row-gap: 2em;
}

.category_list > a {
  border-style: double;
  border-width: 5px;
  border-color: black;
  background-color: transparent;
  font-family: termina;
  font-weight: 800;
  color: #910303;
  width: 450px;
  height: 130px;
  margin-inline: auto;
  text-decoration: none;
  font-size: 40px;
  text-align: center;
  padding-top: 1.5em;
}
.category_list > a:hover {
  color: hsl(0, 0%, 0%);
}

/* PRODUCTS */

.product_grid {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
}

.small_product {
  width: 300px;
  border-style: double;
  position: relative;
}

.product_grid {
  display: flex;
  justify-content: space-evenly;
  padding: 2em;
}

.product_grid > div {
  display: flex;
  flex-direction: column;
}
.small_product img {
  border-style: double;
  border-color: black;
  width: 265px;
  margin: 1em;
}

h2 {
  font-family: termina;
  text-align: center;
}

.subtle {
  font-family: termina;
  color: #536e8a;
  text-align: center;
}

.price {
  font-family: termina;
  text-align: center;
  margin-bottom: 7em;
}

.price::after {
  content: " kr";
}
.link {
  margin-bottom: 2em;
  position: absolute;
  bottom: 0;
  margin-left: 4em;
}

.link a {
  border-style: double;
  background-color: transparent;
  padding: 15px;
  text-align: center;
  width: fit-content;
  margin-inline: auto;
  margin-top: auto;
  margin-bottom: 2em;
  color: rgb(41, 52, 97);
  text-decoration: none;
  font-family: termina;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
}

.soldout img {
  filter: opacity(0.5);
}

.soldout::before {
  content: "sold out";
  font-family: termina;
  background-color: #910303;
  color: white;
  width: fit-content;
  padding: 5px;
  position: absolute;
  top: 100px;
  left: 16px;
  z-index: 100;
}

.discount {
  font-family: termina;
  background-color: #910303;
  color: white;
  width: fit-content;
  padding: 5px;
  position: absolute;
  top: 25px;
  left: 16px;
  z-index: 100;
}

.discount::before {
  content: "-";
}
.discount::after {
  content: ",-";
}

.percentage {
  font-family: termina;
  color: #910303;
  width: fit-content;
  padding: 5px;
  position: absolute;
  top: 360px;
  left: 16px;
}
.discount:empty {
  display: none;
}

/* PRODUCT VIEW */

.breadcrumb {
  list-style: none;
  margin-left: 5em;
}

.breadcrumb-item {
  display: inline;
  font-size: 18px;
}

.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: ">>";
}

.breadcrumb-item a {
  color: #2e4053;
  text-decoration: none;
  font-family: termina;
}

.breadcrumb-item a:hover {
  color: red;
}

.product_container {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
  border-style: double;
  padding: 3em;
  margin: 2em;
}
.product_container img {
  border-style: double;
  border-color: black;
  width: 500px;
}

.product_container > div {
  display: flex;
  margin: auto;
  flex-direction: column;
}
h3 {
  font-family: termina;
  font-size: 50px;
}

.size_guide {
  font-family: termina;
  background-color: #910303;
  width: fit-content;
  padding: 25px;
  border-style: double;
  border-color: white;
  color: white;
  margin: auto;
}

.sizes_container {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.sizes_container p {
  padding: 2em;
  font-family: termina;
  font-weight: 500;
  font-size: 20px;
}
.sizes_container p:hover {
  color: #910303;
}

.cart {
  font-family: termina;
  background-color: #2e4053;
  width: fit-content;
  padding: 25px;
  border-style: double;
  border-color: white;
  color: white;
  margin: auto;
}

.product_information {
  padding-top: 3em;
}

p {
  text-align: center;
  font-family: termina;
}
